.block {
	display: flex;
	align-items: center;
	height: 80px;
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	margin-top: 10px;
	background: #343436;
}
.block p {
	text-align: center;
	color: #e6e6fa;
	text-transform: uppercase;
	animation: text 50s infinite linear;
	padding-left: 100%;
	white-space: nowrap;
	font-size: 24px;
	font-weight: bold;
}
@keyframes text {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}
